* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-rows: minmax(150px, 1fr) 2rem minmax(150px, 1fr);
  gap: 20px;

  max-width: 840px;
  margin: 0 auto;

  font-size: 1.1rem;
}

.find-btn {
  max-width: 7rem;
}

.text-to-check {
  resize: vertical;
  font-size: 1.1rem;
}

.result {
  border: 1px solid black;
}

mark {
  background-color: #ff9292;
}
