* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  /*  background: linear-gradient(45deg, #333333, #5a5454); */
}

.container {
  position: relative;

  display: flex;
  justify-content: space-around;

  width: 960px;

}

.card {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 330px;

  text-align: center;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  transition: 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card::before {
  content: "";

  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.03);

  pointer-events: none;
}

.card:hover .number h2 {
  color: #fff;
  font-size: 50px;
}

.card:hover .number h2 span {
  color: #fff;
}

.card:hover h3 {
  color: #fff;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background-color: #222;

  z-index: 1;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 50%
}

h2 {
  color: #777;
  font-size: 44px;
  transition: 0.5s ease;
}

h2 span {
  padding-left: 3px;

  color: #777;
  font-size: 24px;

  transition: 0.5s ease;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;

  transform: rotate(-85deg);

}

svg circle {
  width: 100%;
  height: 100%;

  fill: none;

  stroke: inherit;
  stroke-width: 10;
  stroke-linecap: round;

  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * 90)/100);
  stroke: #63e2ff
}