html,
body {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;

  /*   box-sizing: border-box; */
}

.slider {
  position: relative;

  margin: 2rem auto 0;
  width: 500px;

  /* border: 15px solid #fff; */

  /*   overflow: hidden; */
}

.slider__place img {
  max-width: 500px;
  width: 100%;

  object-fit: contain;
}

.slider__place {
  position: relative;
  height: fit-content;
  display: flex;
}

.slider__prev-button,
.slider__next-button {
  position: absolute;
  bottom: 0px;
  z-index: 1;

  display: grid;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 3px solid gold;
  background-color: #000;

  font-size: 30px;
  color: gold;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.slider__prev-button:hover,
.slider__next-button:hover {
  border: 3px solid #000;
  background-color: gold;
  color: #000;
}

.slider__prev-button:active,
.slider__next-button:active {
  width: 48px;
  height: 48px;
}

.slider__next-button {
  right: 0;
}
