.animate-password {
  background-image: linear-gradient(90deg, #ededed 50%, transparent 50%);
  background-size: 200%;
  background-position-x: 100%;
  animation-name: passwordAnimation;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes passwordAnimation {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
