@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100vh;

  background-color: rgb(161, 100, 223);

  font-family: 'Poppins', sans-serif;
  color: #fff;

  overflow: hidden;
}

.btn {
  margin: 1rem;
  padding: 1.5rem 3rem;

  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  outline: none;

  font-size: 1.2rem;
  color: #fff;
  font-family: inherit;

  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
